################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToDoApiPractical/ErrorLogs
/ToDoApiPractical/bin/Debug/net8.0
/ToDoApiPractical/obj
/ToDoApiPractical.Tests/bin
/ToDoApiPractical.Tests/obj
